<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Chad Williams - Data Portfolio</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <!-- Custom CSS for Dropdown on Hover -->
    <style>
        .navbar .dropdown:hover .dropdown-menu {
            display: block;
        }
        .navbar .dropdown-menu {
            margin-top: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
</head>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <div class="container px-5">
                <a class="navbar-brand" href="{{ url_for('home') }}"><span class="fw-bolder text-primary">Chad Williams</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('resume') }}">Resume</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('projects') }}">Projects</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="py-5">
            <div class="container px-5 pb-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-xxl-5">
                        <!-- Header text content-->
                        <div class="text-center text-xxl-start">
                            <h1 class="display-3 fw-bolder"><span class="text-gradient d-inline">Chad Williams</span></h1>
                            <p class="fs-3 fw-light text-muted">Data Analyst with expertise in Python, Tableau, and Database Management</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                                <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="{{ url_for('resume') }}">Resume</a>
                                <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="{{ url_for('projects') }}">Projects</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-7">
                        <!-- Header profile picture-->
                        <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                            <div class="profile profile-bg-grey">
                                <!-- Profile picture here -->
                                <img class="profile-img" src="{{ url_for('static', filename='assets/img/Prof2.png') }}" alt="Chad Williams" />
                                <!-- SVG Dots and other decorative elements -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- About Section-->
        <section class="bg-light py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xxl-8">
                        <div class="text-center my-5">
                            <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About Me</span></h2>
                            <p class="lead fw-light mb-4">My name is Chad Williams, a Data Analyst</p>
                            <p class="text-muted">Hi, I'm Chad Williams, a Data Analyst passionate about transforming complex data into meaningful insights. My expertise lies in uncovering trends and patterns, helping businesses make informed decisions. Explore my projects and connect with me through the links below.</p>
                            <div class="d-flex justify-content-center fs-2 gap-4">
                                <a class="text-gradient" href="https://public.tableau.com/app/profile/chad.williams7914/vizzes"><i class="bi bi-camera"></i></a>
                                <a class="text-gradient" href="https://www.linkedin.com/in/chad-williams5/"><i class="bi bi-linkedin"></i></a>
                                <a class="text-gradient" href="https://github.com/chadwill05"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Chess Game Section -->
        <section class="py-5">
            <div class="container px-5">
                <div class="text-center mb-5">
                    <h2 class="display-5 fw-bolder">Chess Puzzle</h2>
                    <p class="lead fw-normal">Take a break! Enjoy a daily chess puzzle!</p>
                    <button class="btn btn-primary" onclick="document.getElementById('chessIframe').style.display='block'; this.style.display='none';">Play Chess Puzzle</button>
                </div>
                <div class="d-flex justify-content-center">
                    <iframe id="chessIframe" style="width: 100%; max-width: 350px; height: 490px; display: none;" src="https://www.chess.com/daily_puzzle" frameborder="0"></iframe>
                </div>
            </div>
        </section>



    </main>
    <!-- Footer (include from separate file) -->
    {% include 'footer.html' %}
</body>
</html>
